# Configuración global
JWT_SECRET=YOUR_SUPER_SECRET_KEY_HERE_MIN_256_BITS
JWT_EXPIRATION_MS=86400000

# Base de Datos PostgreSQL
POSTGRES_USER=donatech
POSTGRES_PASSWORD=your_secure_password

# RabbitMQ
RABBITMQ_USER=donatech
RABBITMQ_PASSWORD=your_rabbitmq_password
