# ==========================================
# Plantilla de Entorno - ms-shipping
# ==========================================

SERVER_PORT=8084
DB_URL=jdbc:postgresql://<HOST>:<PORT>/shipping_db
DB_USERNAME=<USUARIO>
DB_PASSWORD=<CONTRASEÑA>
EUREKA_URI=http://<EUREKA_HOST>:8761/eureka/
